.logo-container {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 50px;
    margin-right: 6px;
}

.logo-name {
    margin: 0;
}

.navbar-brand, .nav-link {
    cursor: pointer;
}

.icon-image {
    width: 19px ;
    height: 19px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-image::before {
    font-size: 22px;
    vertical-align: 0px;
}